body {
    font-family: 'Noto Serif', serif;
    background-color: #f4e1f1;
    text-align: center;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Учитывает padding и border в размере элемента */
}
h1 {
    color: #392966;
    font-size: 32px;
}
h7{
    color: #555;
    font-family: 'Noto Serif', serif;
    font-size: 16px;
}
p2{
    color: #392966;
    font-size: larger;
    font-weight: bold;
}
p3{
    color: #000000;
    font-size: larger;
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #ffffff;
    padding: 15px;
    margin: 10px auto;
    width: 50%;
    border-radius: 15px;
    box-shadow: 2px 2px 15px #cfb0cf;
}

button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.cart-total {
    font-size: 1.2em;
    margin: 0;
}

.order-btn {
    padding: 10px 20px;
    background-color: #cfb0cf;
    color: #ffffffe8;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.order-btn:hover {
    background-color: #977f97;
}

.item-total {
    margin: 0;
    font-size: 1em;
}


.line-with-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
  }
  
  .line {
    flex-grow: 0;
    width: 70%;
    height: 2px;
    background-color: #462446;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    background-color: #462446;
    border-radius: 50%;
}
select{
    background-color: white;
    color: black; 
    font-size: 16px; 
    padding: 5px;
    border-radius: 5px; 
}
label{
    font-size: 16px; 
}

/* Контейнер для книг */
.books-container {
    display: grid; /* Используем grid для распределения книг */
    grid-template-columns: repeat(3, 1fr); /* 3 колонки */
    gap: 20px; /* Расстояние между карточками книг */
    padding: 20px;
    justify-items: center; /* Центрируем элементы по горизонтали */
}


/* Для экранов шириной меньше 1024px (планшеты) */
@media (max-width: 1024px) {
    .books-container {
        grid-template-columns: repeat(2, 1fr); /* 2 колонки на экранах планшетов */
    }
}

/* Для экранов шириной меньше 600px (мобильные устройства) */
@media (max-width: 600px) {
    .books-container {
        grid-template-columns: 1fr; /* 1 колонка на мобильных устройствах */
    }
}
header {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 0px 0;
    margin-bottom: 0px;
}

.header-container {
    display: flex;
    justify-content: space-between; /* Разделяет элементы по бокам */
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px 20px;
}


/* Статус авторизации */
.auth-status {
    font-size: 16px;
}

.auth-status a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}

.auth-status a:hover {
    text-decoration: underline;
}

/* Стиль для блока с информацией о пользователе */
.user-info {
    display: flex;
    flex-direction: row; /* Элементы будут располагаться рядом */
    align-items: center; /* Выравнивание по вертикали */
    gap: 20px; /* Отступы между элементами */
}

.user-info p,
.user-info a {
    margin: 0; /* Убираем отступы, если они есть */
}
/* Стиль для контейнера шапки */
/* Контейнер для шапки */
.header1 {
    display: flex;
    justify-content: space-between; /* Распределяет элементы по краям */
    align-items: center; /* Выравнивание по вертикали */
    margin: 0 auto; /* Центрируем контейнер */
    width: 100%;
    background-color: #ffffff;
    box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.05);/* Тень только снизу */
}

/* Стиль для блока с количеством книг и кнопкой */
.book-count {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px; /* Расстояние между элементами внутри блока */
    align-items: center;
    padding-top: 4px;
}

/* Для формы с селектом */
.per-page-form {
    display: flex;
    align-items: center; /* Выравнивание лейбла и селекта по центру */
    padding-bottom: 10px;
}

.per-page-form label {
    margin-right: 10px; /* Отступ между лейблом и селектом */
}

.per-page-form select {
    padding: 5px;
}
.form-card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.05);
    max-width: 500px;
    margin: 20px auto;
    text-align: left;
    display: block;
}

.form-card h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-card form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-card .edit-button {
    background-color: #845ad6;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

.form-card .cancel-link {
    text-align: center;
    text-decoration: none;
    color: #555;
    font-size: 16px;
    padding: 10px;
    display: inline-block;
    margin-top: 10px;
    border-radius: 4px;
}
POST{
    text-align: left;
}

.form-card1 {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 20px auto;
    font-weight: normal !important;
}

.form-card1 form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-weight: normal;
}

.form-card1 div {
    display: flex;
    flex-direction: column;
    text-align: left; /* Выравнивание текста по левому краю */
    font-weight: normal;
}

.form-card1 label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 16px;
}

.form-card1 input,
.form-card1 select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}



@font-face {
    font-family: 'Tektur';
    src: url('/static/fonts/Tektur-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.form-container {
    margin-left: 0; /* Прижимаем к левому краю */
    padding: 10px;
    font-weight: normal !important;
}

.form-container p {
    margin: 5px 0; /* Убираем большие отступы между полями */
    font-weight: normal !important;
}

.form-actions {
    display: flex;
    gap: 10px; /* Отступ между кнопками */
    align-items: center;
    margin: auto;
}


/* Кнопки */
.form-card1 button {
    text-transform: uppercase;
    font-weight: bold;
    background-color: #392966;
    letter-spacing: 1px; 
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Tektur', sans-serif;
}
.add-button {
    background-color: #693f86;
    font-family: 'Tektur', sans-serif;
    letter-spacing: 1px; 
    color: white;
    font-weight: bold;
}
.edit-button {
    font-family: 'Tektur', sans-serif;
    letter-spacing: 1px; 
    background-color: #845ad6;
    color: white;
    font-weight: bold;
}
.delete-button {
    font-family: 'Tektur', sans-serif;
    letter-spacing: 1.3px; 
    background-color: #392966;
    color: white;
    font-weight: bold;
}
.cancel{
    text-transform: uppercase;
    font-weight: bold;
    background-color: #ffffff !important;
    cursor: pointer;
    font-family: 'Tektur', sans-serif;
    text-decoration: none;
    text-align: center;
    color: #000000 !important;
    margin-top: 5px; 
}
.form-actions2 {
    display: flex;             
    justify-content: center;                   
}
.cancel1{
    text-align: center;
}

/* Шапка */
header {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 0px 0;
    margin-bottom: 0px;
}
.header-container {
    display: flex;
    justify-content: space-between; /* Разделяет элементы по бокам */
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px;
}



/* Кнопка добавления в корзину */
.add-to-cart{
    background-color: #fff;
    margin-top: auto;
    text-transform: uppercase;
}
.add-to-cart-button {
    background-color: rgb(255, 255, 255); 
    border: none;
}
.add-to-cart-button img{
    width: 27px; 
    height: 27px;
}

/* Стили для каждой карточки книги */
.book-card {
    position: relative;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.05); /* Увеличенная тень */
    width: 100%; /* Карточка занимает всю доступную ширину */
    box-sizing: border-box;
    max-width: 400px; /* Максимальная ширина карточки */
}


/* Иконки на шапке */
.info-container {
    display: flex;
    gap: 25px; /* Расстояние между иконками */
}
.user-info {
    position: relative;
    display: inline-block;
    text-align: center;
    z-index: 9999;
}
.user-icon {
    position: relative;
    display: inline-block;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #ffffff; /* Светлый фон для иконки */
    border-radius: 70%;
    transition: background-color 0.3s ease;
}
.user-icon img {
    width: 24px;
    height: 24px;
}
.user-popup {
    position: absolute;
    top: 100%;
    right: 0;
    width: 220px;
    background-color: #ffffff;
    border-radius: 25px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    border-radius: 8px;
}
.user-info:hover .user-popup {
    opacity: 1;
    visibility: visible;
}
.popup-link {
    text-decoration: none;
    font-weight: 500;
    display: block;
    margin-bottom: 8px;
    padding: 5px 0;
    transition: color 0.2s ease;
}
.text-gray-500 {
    color: #8a7f8e;
}
.popup-link:hover {
    color: #000000; 
}
.separator {
    border: 0;
    border-top: 1px solid #f0f0f0;
    margin: 10px 0;
}
.user-label {
    font-size: 10px;
    color: gray;
    font-family: 'Tektur', sans-serif;
    text-transform: uppercase;
}

/* Корзина */
.container {
    display: flex; 
    justify-content: space-between; 
    max-width: 1200px;
    margin-top: 25px !important;
    margin-bottom: 25px !important;
    margin: auto;
}

.left-container {
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.right-container {
    width: 25%; /* Правый контейнер занимает 25% */
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.cart_book {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 15px;

}

.book-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.book_img {
    width: 100px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.book-details {
    max-width: 500px;
}

.quantity-price {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.quantity-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.quantity-btn {
    background-color: #DECBE0;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.quantity-btn:hover {
    background-color: #C9B6D1;
}

strong {
    font-size: 1.2em;
    color: #333;
}